<div id="adyen-express-checkout" class="ui segment" data-config-url="{{ path('sylius_adyen_shop_express_checkout_google_pay_cart_configuration') }}">
    <div id="googlepay-container"></div>
    <div id="applepay-container"></div>
    <div id="paypal-container"></div>
</div>
