<div id="adyen-express-checkout" class="ui segment" data-config-url="{{ path('sylius_adyen_shop_express_checkout_cart_configuration') }}">
    {{ sylius_template_event('sylius.shop.cart.summary.express_checkout') }}
</div>
