/vendor/
/node_modules/
/var/
composer.lock

/etc/build/*
!/etc/build/.gitignore


/.phpunit.result.cache
/behat.yml
/phpunit.xml
/phpstan.neon

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.claude/
