{% if payment_method is defined and sylius_adyen_is_adyen_payment_method(paymentMethod) %}
    <div class="ui segment">

        <p>{{ 'sylius_adyen.ui.notification_endpoint_description'|trans }}:</p>

        <div class="ui form">
            <div class="required field">
                <label for="notifications-endpoint">{{ 'sylius_adyen.ui.notification_endpoint'|trans }}</label>
                <input type="text"
                       id="notifications-endpoint"
                       value="{{ url('sylius_adyen_shop_process_notifications', {paymentMethodCode: payment_method.code}) }}"
                       readonly="readonly"
                >
            </div>
        </div>

    </div>
{% endif %}
