{% set path_parameters = {code: order.payments.last.method.code} %}

{% if order.tokenValue is not empty %}
    {% set path_parameters = path_parameters|merge({orderToken: order.tokenValue}) %}
{% endif %}

<h1>TERAZ</h1>

<div
    class="dropin-container"
    data-config-url="{{ path('sylius_adyen_shop_config', path_parameters) }}"
></div>

